opencv/Portfile
opencv/.svn/entries
opencv/.svn/format
opencv/.svn/wc.db
opencv/.svn/pristine/0e/0ef700662ea9c67857e3bf6858415e41cb0439e3.svn-base
opencv/.svn/pristine/4f/4fdec216a7fda4bd54e517dea807a274cf5897e9.svn-base
opencv/.svn/pristine/5a/5ad6e4bc0ca215c096a17b444809cbf3e00a6574.svn-base
opencv/.svn/pristine/83/83d682026c314c95602b39598f9169db124a010b.svn-base
opencv/.svn/pristine/c3/c33f762b3a6ea81c41104bd048f98b3d55b3ac74.svn-base
opencv/.svn/pristine/cb/cbc3df52449df8ac26f3d66d0e18522b71ae4439.svn-base
opencv/.svn/pristine/ce/ce4d204be5d39281db8173510ac209670ca6b826.svn-base
opencv/.svn/pristine/dd/dd0fbe8dbf96a0c066f860eb9e9393c48009a89d.svn-base
opencv/.svn/pristine/e6/e61895e39f3a988149921187ed2aa5f441c99e77.svn-base
opencv/.svn/pristine/f9/f9fa1741159fa4ecd959ab69a0ce01a2838ecc46.svn-base
opencv/files/patch-cmake_OpenCVFindLibsPerf.cmake.diff
opencv/files/patch-cmake_OpenCVFindOpenNI.cmake.diff
opencv/files/patch-CMakeLists.txt.diff
opencv/files/patch-fix_dirname_case.diff
opencv/files/patch-highgui_CMakeLists.txt.diff
opencv/files/patch-install_name.diff
opencv/files/patch-modules_core_src_parallel.cpp.diff
opencv/files/patch-modules_java_CMakeLists.txt.diff
opencv/files/patch-modules_python_CMakeLists.txt.diff
SimpleAnnotate.xcodeproj/project.xcworkspace/xcuserdata/bog.xcuserdatad/UserInterfaceState.xcuserstate
SimpleAnnotate.xcodeproj/xcuserdata/bog.xcuserdatad/xcschemes/VisionSandbox.xcscheme
SimpleAnnotate.xcodeproj/xcuserdata/bog.xcuserdatad/xcschemes/xcschememanagement.plist
